/*HEADER AT THE TOP*/

.head {
    margin: 0%;
    color: blue;
    text-shadow: 2px 2px blueviolet;
    font-size: larger;
    width: auto;
    height: auto;
    background: linear-gradient(#00ffff, #00e6e6);
}


/*form's border*/

form {
    border: 3px solid #f1f1f1;
    background-color: lavender
}

.e-button {
    margin: 1%;
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%
}

.l-button {
    margin: 1%;
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%
}

.b-button {
    margin: 1%;
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 45%
}


/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    margin: 1%;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* Add padding to containers */

.container {
    padding: 20px;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

.column {
    float: left;
    width: 33.33%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 850px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
    .column {
        margin: 0%;
        width: 100%
    }
}